<div class="container mt-5 mb-5 animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card bg-dark border border-light">
        <div class="card-body text-center">
          <ng-container *ngIf="titulo === 'Agregar Usuario'; else elseBlock">
            <span class="titulo text-white"
              >{{ titulo | uppercase
              }}<i class="fas fa-plus-circle" style="margin-left: 12px"></i
            ></span>
          </ng-container>
          <ng-template #elseBlock>
            <span class="titulo text-white"
              >{{ titulo | uppercase
              }}<i class="fas fa-edit" style="margin-left: 12px"></i
            ></span>
          </ng-template>

          <form class="mt-3" [formGroup]="usersForm" (ngSubmit)="agregarUser()">
            <div class="mb-3">
              <input
                type="text"
                formControlName="names"
                class="form-control form-control-lg"
                placeholder="Nombres"
              />
              <div
                class="text-danger"
                *ngIf="
                  usersForm.get('names')?.hasError('required') &&
                  usersForm.get('names')?.touched
                "
              >
                <span>Los nombres <strong>son obligatorios.</strong></span>
              </div>
            </div>

            <div class="mb-3">
              <input
                type="text"
                formControlName="lastNames"
                class="form-control form-control-lg"
                placeholder="Apellidos"
              />
              <div
                class="text-danger"
                *ngIf="
                  usersForm.get('lastNames')?.hasError('required') &&
                  usersForm.get('lastNames')?.touched
                "
              >
                <span>Los apellidos<strong> son obligatorios.</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="text"
                formControlName="address"
                class="form-control form-control-lg"
                placeholder="Direccion"
              />
              <div
                class="text-danger"
                *ngIf="
                  usersForm.get('address')?.hasError('required') &&
                  usersForm.get('address')?.touched
                "
              >
                <span>La dirección<strong> es obligatoria.</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="email"
                formControlName="email"
                class="form-control form-control-lg"
                placeholder="Email"
              />
              <div
                class="text-danger"
                *ngIf="
                  usersForm.get('email')?.hasError('required') &&
                  usersForm.get('email')?.touched
                "
              >
                <span>El email<strong> es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input
                type="password"
                formControlName="password"
                class="form-control form-control-lg"
                placeholder="Contraseña"
              />
              <div
                class="text-danger"
                *ngIf="
                  usersForm.get('password')?.hasError('required') &&
                  usersForm.get('password')?.touched
                "
              >
                <span>La contraseña<strong> es obligatoria.</strong></span>
              </div>
              >
              <div class="mb-3">
                <select
                  name="role"
                  formControlName="role"
                  class="form-control form-control-lg"
                >
                  <option value="1">Administrador</option>
                  <option value="2">Cliente</option>
                </select>
                <div
                  class="text-danger"
                  *ngIf="
                    usersForm.get('role')?.hasError('required') &&
                    usersForm.get('role')?.touched
                  "
                >
                  <span>El rol<strong> es obligatorio.</strong></span>
                </div>
                >
              </div>
              <div class="form-group d-flex flex-column">
                <label for="image">Imagen</label>
                <input
                  type="file"
                  id="file"
                  name="file"
                  alife-file-to-base64
                  (onFileChanged)="loadImage($event)"
                />
              </div>
            </div>
            <img
              class="mb-3"
              *ngIf="base64 !== ''"
              src="{{ base64 }}"
              alt=""
              width="200"
            />
            <div
              class="mb-3"
              style="display: flex; justify-content: space-around"
            >
              <button
                type="submit"
                routerLink="/listarUsers"
                class="btn btn-secondary btn-lg float-start"
              >
                VOLVER
              </button>
              <button
                type="submit"
                class="btn btn-success btn-lg float-end"
                [disabled]="usersForm.invalid"
              >
                ACEPTAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
